<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="/styles.css">
  <meta http-equiv="refresh" content="5;url=<%= redirectUrl %>">
</head>
<body>
  <h1>Error</h1>
  <p><%= message %></p>
  <p>You will be redirected to the checkout page shortly...</p>
</body>
</html>
